@charset "utf-8";
// Vendors
// Utils
@import "utils/variables";
@import "utils/mixins";
@import "utils/functions";
// Base
@import "base/fonts";
@import "base/reset";
@import "base/typography";
// Layout
@import "layout/header";
@import "layout/forms";
@import "layout/sidebar";
@import "layout/footer";
// Pages
@import "pages/home";

.a-masthead {
    border-bottom: 1px solid #d1c0af;
    text-align: center;
    padding: 15px 0;
    margin-bottom: 16px;
    #Amm2016Masthead {
	    max-width: 990px;
	    width: 100%;
	    height: 250px;
	    opacity: 0.5;
	    background: #FC7474;
	    color: #1A171B;
	    margin: 0 auto;
	}
}
.wrap-link {
	background: #244357;
	width: 100%;
	.links-line {
		padding: 0 15px; 
		max-width: 1200px;
		width: 100%;
		margin: 0 auto;
		min-height: 43px; 
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-top: 3px solid #112531;
		margin-bottom: 27px;
		.logo-text {
			display: flex;
			align-items: center;
			img {
				width: 30px;
				height: 30px;
				border-radius: 50%;
				margin-right: 10px;
			}
			span {
				font-size:20px;
				color:#ffffff;
				b {
					opacity: 0.6;
				}
			}
		}
		ul {
			display: flex;
			align-items: center;
			li {
				margin-right: 21px;
				padding: 0 10px;
				border-left: 1px solid #112531;
				height:24px;
				display: flex;
				align-items: center;
				&:last-child {
					margin-right: 0;
					border-right: 1px solid #112531;
				}
				a {
					font-size:14px;
					color:#ffffff;
					line-height:16px;
					text-transform: uppercase;
					&:hover {
						color: #ccc;
					}
				}
			}
		}
		.socials {
			display: flex;
			align-items: center;
			a {
				display: flex;
				align-items: center;
				color: #fff;
				font-size: 10px;
				margin-right: 5px;
				img {
					width: 30px;
					height: 30px;
					margin-right: 5px; 
				}
			}
		}
	}
}
/* main styles */
#main {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
	display: flex;
	flex-wrap: wrap;
	.breadcrumbs {
		display: flex;
		width: 100%;
		align-items: center;
		margin-bottom: 10px;
		li {
			margin-right: 20px;
			position: relative;
			&:after {
				content: '';
				display: inline-block;
				background: #ad9a88;
				width:1px;
				height:11px;
				position: absolute;
				right: -10px;
				top: 4px;
			}
			&:last-child:after {
				display: none;
			}
			a {
				font-family: 'Montserrat-Bold';
				font-size:11px;
				color:#356e89;
				letter-spacing:0;
				line-height:15.6px;
			} 
		}
	}
	.left-part {
		max-width: 840px;
		width: 100%;
		margin-right: 30px;
		flex-shrink: 0;
		h1 {
			color:#1a171b;
			line-height:31.2px;
			font-weight: 400;
			margin-bottom: 13px;
		}
		p {
			font-size:18px;
			color:#112531;
			letter-spacing:0;
			text-align:left;
			font-weight: 300;
			margin-bottom: 29px;
		}
		.candidate-list {
			border-top: 2px solid #244357;
			margin-bottom: 37px;
			&:last-child {
				margin-bottom: 0;
			}
			li {
				min-height: 99px;
				display: flex;
				align-items: center;
				justify-content: space-between;
				border-top: 2px solid #ad9a88;
				padding: 18px 0;
				&:first-child {
					border-top: 0;
					.image-holder {
						img {
							width: 86px;
							height: 81px;
							border-radius: 50%;
						}
					}
					.read-more {
						font-size:13px;
						color:#356e89;
						letter-spacing:0;
						line-height:15px;
						text-align:right;
						flex-shrink: 0;
						align-self: flex-start;
						margin-top: 14px;
						&:after {
							content: '';
							display: inline-block;
							width: 6px;
							height: 10px;
							background: url(../images/arrow-right.png) no-repeat;
							background-size: contain;
							margin-left: 10px;
						}
					}
				}
				.image-holder {
					max-width: 100px;
					width: 100%;
					flex-shrink: 0;
					img {
						display: block;
						width: 60px;
						height: 60px;
						margin-right: 11px;
						border-radius: 50%;
						margin: 0 auto; 
					}
				}
				div {
					width: 100%;
					h3 {
						color:#244357;
						margin-bottom: 10px;
					}
					h5 {
						font-family:Montserrat-Bold;
						color:#244357;
						letter-spacing:0;
						line-height:16px;
						text-align:left;
						margin-bottom: 5px;
						text-transform: uppercase;
					}
					.percent-line {
						width: 100%;
						display: flex;
						height:12px;
						margin: 14px 0 9px;
						.blue {
							background:#356e89;
							flex-shrink: 0;
							&.blue-229 {
								width: 229px;
							}
							&.blue-204 {
								width: 204px;
							}
							&.blue-202 {
								width: 202px;
							}
							&.blue-165 {
								width: 165px;
							}
							&.blue-138 {
								width: 138px;
							}
							&.blue-131 {
								width: 131px;
							}
							&.blue-120 {
								width: 120px;
							}
							&.blue-107 {
								width: 107px;
							}
							&.blue-105 {
								width: 105px;
							}
							&.blue-104 {
								width: 104px;
							}
							&.blue-80 {
								width: 80px;
							}
							&.blue-75 {
								width: 75px;
							}
							&.blue-68 {
								width: 68px;
							}
							&.blue-53 {
								width: 53px;
							}
							&.blue-48 {
								width: 48px;
							}
							&.blue-38 {
								width: 38px;
							}
							&.blue-20 {
								width: 20px;
							}
							&.blue-19 {
								width: 19px;
							}
						}
						.grey {
							width: 100%;
							background:rgba(173,154,136,0.20);
						}
					}
					span {
						font-size:11px;
						color:#1a171b;
						letter-spacing:0;
						line-height:16px;
						display: block;
						i {
							font-size:11px;
							color:#244357;
							line-height:16px;
							text-align:left;
							font-style: normal;
						}
					}
					p {
						font-family:Montserrat-Regular;
						font-size:13px;
						color:#1a171b;
						letter-spacing:0;
						line-height:20px;
						text-align:left;
						margin-bottom: 0;
					}
				}
				.digits {
					text-align:right;
					flex-shrink: 0;
					align-self: flex-start;
					margin-top: 9px;
					font-family:Montserrat-SemiBold;
					font-size:22px;
					color:#416077;
					letter-spacing:0;
					text-align:right;
				}
			}
		}
		.candidate-list-detail {
			&>li {
				flex-direction: column;
				border-top: 2px solid #244357;
				margin-bottom: 30px;
				.detail-title {
					display: flex;
					align-items: center;
					padding: 18px 0;
					position: relative;
					img {
						width: 45px;
						height: 45px;
						margin-left: 10px;
						margin-right: 20px;
					}
					h5 {
						font-family:Montserrat-Bold;
						font-size:18px;
						color:#244357;
						letter-spacing:0;
						line-height:16px;
						text-align:left;
						width: 100%;
					}
					span {
						font-family:Montserrat-Bold;
						font-size:18px;
						color:#416077;
						letter-spacing:0;
						line-height:16px;
						text-align:right;
						flex-shrink: 0;
					}
					i {
						font-style: normal;
						font-family:Montserrat-Regular;
						font-size:11px;
						color:#ad9a88;
						letter-spacing:0;
						line-height:15.6px;
						text-align:right;
						position: absolute;
						top: 5px;
						right: 10px;
					}
				}
				ul {
					width: 100%;
					li {
						min-height: 49px;
						font-family:Montserrat-Bold;
						font-size:13px;
						color:#416077;
						letter-spacing:0;
						line-height:16px;
						text-align:left;
						text-transform: uppercase;
					}
				}
			}
		}
		.candidate-list-percent {
			li {
				position: relative;
				.digits {
					position: absolute;
					top: 0;
					right: 10px;
				}
			}
		}
		.candidate-list-tempo {
			ul {
				li {
					justify-content: space-between;
					div {
						width: auto;
						display: flex;
						span {
							width: 130px;
							height: 26px;
							display: flex;
							align-items: center;
							justify-content: center;
							padding: 0 35px;
							font-size:12px;
							color:#416077;
							letter-spacing:0;
							line-height:16px;
							text-align:center;
							&.borders {
								border-left: 1px solid #ad9a88;
								border-right: 1px solid #ad9a88;
							}
							&:last-child {
								font-family:Montserrat-Regular;
								font-size:20px;
								color:#416077;
								letter-spacing:0;
								line-height:16px;
								text-align:center;
							}
						}
					}
				}
			}
			li {
				.detail-title {
					i {
						display: none;
					}
					div {
						width: auto;
						display: flex;
						span {
							width: 130px;
							height: 26px;
							display: flex;
							align-items: center;
							justify-content: center;
							padding: 0 35px;
							font-family:Montserrat-Bold;
							font-size:16px;
							color:#416077;
							letter-spacing:0;
							line-height:16px;
							text-align:center;
							position: relative;
							&:before {
								content: '';
								display: block;
								position: absolute;
								top: -35px;
								left: 0;
								right: 0;
								margin: 0 auto;
								font-family:Montserrat-Regular;
								font-size:11px;
								color:#ad9a88;
								letter-spacing:0;
								line-height:15.6px;
								text-align:center;
							}
							&:nth-child(1):before {
								content: '%';
							}
							&:nth-child(2):before {
								content: 'VOTI';
							}
							&:nth-child(3):before {
								content: 'SEGGI';
							}
							&.borders {
								border-left: 1px solid #ad9a88;
								border-right: 1px solid #ad9a88;
							}
						}
					}	
				}
			}
		}
	}
	.exitpoll-left {
		.title-exitpoll {
			h1 {
				i {
					font-size:18px;
					color:#244357;
					letter-spacing:0;
					text-align:left;
					font-style: normal;
					margin-left: 15px;
				}
			}
			span {
				font-family:Montserrat-Regular;
				font-size:11px;
				color:#1a171b;
				text-align:left;
				margin-bottom: 30px;
				display: block;
			}
			p {
				font-family:Montserrat-Bold;
				font-size:13px;
				color:#244357;
				margin-bottom: 10px;
			}
		}
		.title-exitpoll-table {
			.title-row {
				display: flex;
				align-items: center;
				justify-content: flex-end;
				height: 27px;
				min-height: 27px;
				border-top: 1px solid #244357;
				border-bottom: 1px solid #244357;
				span {
					display: flex;
					align-items: center;
					justify-content: center;
					min-height: 15px;
					padding: 0 105px;
					font-family:Montserrat-SemiBold;
					font-size:11px;
					color:#416077;
					letter-spacing:0;
					line-height:15.6px;
					border-left: 1px solid #112531;
					&:first-child {
						border: 0;
					}
				}
			}
			&>div {
				min-height: 99px;
				display: flex;
				align-items: center;
				justify-content: flex-end;
				div {
					min-width: 257px;
					border-left: 1px solid #112531;
					&:first-child {
						border: 0;
						span {
							padding-left: 0;
						}
					}
					&:last-child {
						.view-more {
							padding-left: 24px;
						}	
					}
					span {
						display: block;
						font-family:Montserrat-Bold;
						font-size:11px;
						color:#244357;
						letter-spacing:0;
						line-height:16px;
						text-align: left;
						padding-left: 24px;
						i {
							font-style: normal;
							font-family:Montserrat-Regular;
							font-size:11px;
							color:#1a171b;
							letter-spacing:0;
							line-height:16px;
							margin-left: 5px;
						}
					}
					.view-more {
						display: block;
						font-family:Montserrat-Bold;
						font-size:13px;
						color:#356e89;
						letter-spacing:0;
						line-height:15px;
						margin-top: 25px;
						&:after {
						    content: '';
						    display: inline-block;
						    width: 6px;
						    height: 10px;
						    background: url(../images/arrow-right.png) no-repeat;
						    background-size: contain;
						    margin-left: 10px;
						}
					}
				}
			}
		}
		.title-temporeale-table {
			padding-bottom: 29px;
			.title-row {
				margin-bottom: 20px;
			}
		}
		.exitpoll-list-tempo {
			li {
				.detail-title {
					img {
						margin: 0 15px 0 0;
					}
					h5 {
						font-family:Montserrat-Bold;
						font-size:16px;
						color:#416077;
						letter-spacing:0;
						line-height:16px;
						text-align:left;
					}
					i {
						display: none;
					}
					div {
						width: auto;
						display: flex;
						span {
							height: 24px;
							display: flex;
							align-items: center;
							justify-content: center;
							padding: 0 23px;
							letter-spacing:0;
							line-height:17px;
							text-align:center;
							position: relative;
							border-left: 1px solid #ad9a88;
							font-family:Montserrat-SemiBold;
							font-size:15px;
							color:#244357;
							letter-spacing:0;
							text-align:center;
							&:before {
								content: '';
								display: block;
								position: absolute;
								top: -35px;
								left: 0;
								right: 0;
								margin: 0 auto;
								font-family:Montserrat-Regular;
								font-size:11px;
								color:#ad9a88;
								letter-spacing:0;
								line-height:15.6px;
								text-align:center;
							}
							&:nth-child(1) {
								font-family:Montserrat-SemiBold;
								font-size:12px;
								color:#244357;
								letter-spacing:0;
								text-align:center; 
								border: 0;
							}
							&:nth-child(3) {
								font-family:Montserrat-SemiBold;
								font-size:12px;
								color:#244357;
								letter-spacing:0;
								text-align:center; 
							}
							&:nth-child(1):before {
								content: 'Exit poll';
							}
							&:nth-child(2):before {
								content: 'Stima seggi';
							}
							&:nth-child(3):before {
								content: 'Exit poll';
							}
							&:nth-child(4):before {
								content: 'Stima seggi';
							}
							&.borders {
								border-left: 1px solid #ad9a88;
								border-right: 1px solid #ad9a88;
							}
						}
					}	
				}
				.detail-title-last {
					align-items: center !important;
					h5 {
						width: auto;
						margin-bottom: 0;
					}
					div {
						width: 100%;
					}
				}
				ul {
					.title-li {
						.detail-title {
							border-top: 1px solid #244357; 
							padding: 8px 0;
							display: flex;
							align-items: flex-start;
							justify-content: space-between;
							width: 100%;
							p {
								font-family:Montserrat-Bold;
								font-size:12px;
								color:#244357;
								letter-spacing:0;
								line-height:15.6px;
							}
							div {
								margin-top: 18px;
								span {
									height: 24px;
									display: flex;
									align-items: center;
									justify-content: center;
									padding: 0 23px;
									letter-spacing:0;
									line-height:17px;
									text-align:center;
									position: relative;
									border-left: 1px solid #ad9a88;
									font-family:Montserrat-SemiBold;
									font-size:15px;
									color:#244357;
									letter-spacing:0;
									text-align:center;
									&:nth-child(1) {
										font-family:Montserrat-SemiBold;
										font-size:12px;
										color:#244357;
										letter-spacing:0;
										text-align:center; 
										border: 0;
									}
									&:nth-child(3) {
										font-family:Montserrat-SemiBold;
										font-size:12px;
										color:#244357;
										letter-spacing:0;
										text-align:center; 
									}
									&:before {
										top: -23px;
									}
								}
							}
						}
					}
					li {
						border-width: 1px;
						&:nth-child(2) {
							border: 0;
						}
						h5 {
							font-family:Montserrat-Bold;
							font-size:16px;
							color:#416077;
							letter-spacing:0;
							line-height:16px;
							text-align:left;
							flex-shrink: 0;
						}
						img {
							width: 45px;
							height: 45px;
							margin: 0 15px 0 0;
						}
						div {
							width: 100%;
							justify-content: flex-end;
							span, span:last-child {
								height: 24px;
								display: flex;
								align-items: center;
								justify-content: center;
								padding: 0 23px;
								letter-spacing:0;
								line-height:17px;
								text-align:center;
								position: relative;
								border-left: 1px solid #ad9a88;
								font-family:Montserrat-SemiBold;
								font-size:15px;
								color:#244357;
								letter-spacing:0;
								text-align:center;
								&:nth-child(1) {
									font-family:Montserrat-SemiBold;
									font-size:12px;
									color:#244357;
									letter-spacing:0;
									text-align:center; 
									border: 0;
								}
								&:nth-child(3) {
									font-family:Montserrat-SemiBold;
									font-size:12px;
									color:#244357;
									letter-spacing:0;
									text-align:center; 
								}
							}
						}
					}
				}
			}
		}
	}
	.proiezioni-left {
		.exitpoll-list-tempo {
			li {
				.detail-title {
					div {
						span {
							&:nth-child(1):before {
								content: 'VOTI';
							}
							&:nth-child(2):before {
								content: 'SEGGI';
							}
							&:nth-child(3):before {
								content: 'VOTI';
							}
							&:nth-child(4):before {
								content: 'SEGGI';
							}
						}
					}
				}
			}
		}
	}
	.temporeale-left {
		.candidate-list{
			li{
				padding: 13px 0;
			}
		}
		.exitpoll-list-tempo {
			li {
				.detail-title {
					div {
						span {
							font-family:Montserrat-SemiBold;
							font-size:12px;
							color:#416077;
							letter-spacing:0;
							line-height:16px;
							text-align:center;
							width: 86px;
							&:nth-child(1):before {
								content: '%';
							}
							&:nth-child(2):before {
								content: 'VOTI';

							}
							&:nth-child(3):before {
								content: 'SEGGI';
							}
							&:nth-child(4):before {
								content: '%';
							}
							&:nth-child(5):before {
								content: 'VOTI';
							}
							&:nth-child(6):before {
								content: 'SEGGI';
							}
						}
					}
				}
				ul {
					.title-li {
						.detail-title {
							div {
								span {
									width: 86px;
									font-family:Montserrat-SemiBold;
									font-size:12px;
									color:#416077;
									letter-spacing:0;
									line-height:16px;
									text-align:center;
								}
							}
						}
					}
					li {
						div {
							span {
								width: 86px;
								font-family:Montserrat-SemiBold;
								font-size:12px;
								color:#416077;
								letter-spacing:0;
								line-height:16px;
								text-align:center;
							}
						}
					}
				}
			}
		}
	}
	aside {
		max-width: 300px;
		width: 100%;
		.aside-banner {
			display: block;
			margin-bottom: 29px;
		}
		ul {
			border-top: 2px solid #244357;
			.title-li {
				min-height: 44px;
				display: flex;
				align-items: center;
				justify-content: space-between;
				&.mobile-only {
					display: none;
				}
				p {
					font-size:13px;
					color:#244357;
					line-height:16px;
					text-transform: uppercase;
					font-weight: 300;
				}
				div {
					display: flex;
					span {
						font-size:11px;
						color:#ad9a88;
						line-height:12px;
						text-align:center;
						padding: 0 20px;
						&:last-child {
							border-left: 2px solid #ad9a88;
						}
					}
				}
			}
			li {
				min-height: 35px;
				display: flex;
				align-items: center;
				justify-content: space-between;
				border-bottom: 1px  solid #ad9a88;
				p {
					font-size:11px;
					color:#244357;
					line-height:12px;
					text-align:left;
					text-transform: uppercase;
					&.padding-left-10px {
						padding-left: 10px;
						color:#356e89;
					}
				}
				div {
					display: flex;
					span {
						font-size:10px;
						color:#000000;
						letter-spacing:0;
						line-height:12px;
						text-align:center;
						padding: 0 15px;
						&:last-child {
							border-left: 2px solid #ad9a88;
						}
					}
				}
			}
			.view-more {
				font-size:13px;
				color:#356e89;
				letter-spacing:0;
				line-height:15px;
				display: block;
				text-align: right;
				margin-top: 14px;
				margin-bottom: 29px;
				&:after {
					content: '';
					display: inline-block;
					width: 6px;
					height: 10px;
					background: url(../images/arrow-right.png) no-repeat;
					background-size: contain;
					margin-left: 10px;
				}
			}
		}
		.without-borders {
			margin-bottom: 20px;
			&:last-child {
				margin-bottom: 0;
				border-top: 0;
			}
			.title-li {
				border-bottom: 0;
			}
			.after-title-li {
				&.mobile-only {
					display: none;
				}
				p {
					font-size:11px;
					color:#ad9a88;
					letter-spacing:0;
					line-height:12px;
					text-align:left;
				}
				div {
					display: flex;
					span {
						font-size:11px;
						color:#ad9a88;
						letter-spacing:0;
						line-height:12px;
						text-align:right;
						padding: 0;
						padding-right: 5px;
						&:last-child {
							border-left: 0;
						}
					}
				}
			}
			li {
				p {
					text-transform: none;
					color:#356e89;
				}
				span {
					padding-right: 5px;
					&:last-child {
						border-left: 0;
					}
				}
			}
		}
		.side-block {
		    padding-top: 15px;
		    margin-bottom: 30px;
		    position: relative;
		    .marketing-banner {
		    	display: block;
		    	margin-top: 25px;
		    }
		    .side-block-heading {
			    margin-bottom: 12px;
			    h5 {
				    margin-bottom: 0;
				    font-size: 12px;
				    color: #244357;
				    font-weight: 300;
				    a {
				    	color: inherit;
				    }
				}
				h4 {
				    font-size: 17px;
				    margin-bottom: 5px;
				    font-weight: 700;
				}
				.account {
					a {
					    color: #356e89;
					    font-size: 13px;
					    line-height: 16px;
					    display: block;
					    margin-top: 5px;
					    .icon-twitter {
					    	display: inline-block;
					    	width: 13px;
					    	height: 11px;
					    	background: url(../images/icon-twitter.svg);
					    	background-size: contain;
					    	margin-right: 5px; 

					    }
					}
				}
			}
			.list {
				border: 0;
				&>li.i {
					display: list-item;
				    padding-bottom: 6px;
				    margin-bottom: 10px;
				    border-bottom: 1px solid #d1c0af;
				    .tweet-body {
						font-size:11px;
						color:#323232;
						font-weight: 300;
						a {
							color: #356e89;
						}
				    }
				    .tweet-actions {
				    	border: 0;
				    	display: flex;
				    	align-items: center;
				    	li {
				    		border: 0;
				    		margin-right: 20px;
				    		&:last-child {
				    			margin-right: 0;
				    		}
				    		a {
				    			color:#323232;
				    			display: flex;
				    			align-items: center;
				    			.icon-reply {
				    				display: inline-block;
				    				width: 13px;
				    				height: 10px;
				    				background: url(../images/icon-reply.png); 
				    				background-size: contain;
				    				margin-right: 5px;
				    			}
				    			.icon-retweet {
				    				display: inline-block;
				    				width: 14px;
				    				height: 9px;
				    				background: url(../images/icon-retweet.png); 
				    				background-size: contain;
				    				margin-right: 5px;
				    			}
				    			.icon-star {
				    				display: inline-block;
				    				width: 12px;
				    				height: 12px;
				    				background: url(../images/icon-favorite.png); 
				    				background-size: contain;
				    				margin-right: 5px;
				    			}
				    		}
				    	}
				    }
				}
				.meta {
					border: 0;
					&>li {
						font-size:15px;
						color:#1a171b;
						letter-spacing:0;
						text-align:left;
						border: 0;
					}
				}
			}
		}
	}
	.left-part {
		.candidate-map-holder {
			display: flex;
			justify-content: space-between;
			&>div {
				width: 100%;
				p {
					font-family:Montserrat-Bold;
					font-size:13px;
					color:#244357;
					letter-spacing:0;
					line-height:15.6px;
					margin-bottom: 20px;
					text-transform: uppercase;
				}
				.map-holder {
					margin: 16px 0;
					padding: 16px 0;
					border-top: 1px solid #dfcebd;
					border-bottom: 1px solid #dfcebd;
					img {
						display: block;
						max-width: calc(100% - 40px);
						margin: 0 auto;
					}
				}	
				span {
					display: block;
					font-family:Montserrat-Regular;
					font-size:11px;
					color:#1a171b;
					letter-spacing:0;
					line-height:16px;
					text-align:left;
					i {
						font-family:Montserrat-Bold;
						font-size:11px;
						color:#244357;
						letter-spacing:0;
						line-height:16px;
						text-align:left;
						font-style: normal;
					}
				}
				b {
					font-family:Montserrat-Light;
					font-size:12px;
					color:#ad9a88;
				}
				form {
					position: relative;
					input[type="text"] {
						display: flex;
						align-items: center;
						padding-left: 16px;
						background:#ffffff;
						border-radius:28px;
						width:100%;
						height:36px;
						font-family:Montserrat-Regular;
						font-size:11px;
						color:#6a6a6a;
						text-align:left;
						border: none;
						outline: none;
						margin-bottom: 20px;
					}
					input[type="submit"] {
						width: 17px;
						height: 16px;
						background: url(../images/search.png) no-repeat;
						background-size: contain;
						position: absolute;
						top: 50%;
						transform: translateY(-50%);
						right: 15px; 
						border: none;
						outline: none;
						font-size: 0;
						cursor: pointer;
					}
					.selecter {
						margin-top: 20px;
					}
				}
			}
			.candidate-list {
				width: 100%;
				border: none;
				max-width: 416px;
				width: 100%;
				flex-shrink: 0;
				margin-right: 15px;
				border-right: 1px solid #ad9a88;
				padding-right: 13px;
				margin-bottom: 100px;
				p {
					font-family:Montserrat-Bold;
					font-size:13px;
					color:#244357;
					letter-spacing:0;
					line-height:15.6px;
					text-transform: uppercase;
					margin-bottom: 0;
				}
				li {
					align-items: flex-start;
					position: relative;
					min-height: 80px;
					padding: 12px 0; 
					&.no-border {
						border-top: 0;
						.image-holder {
							img {
				    			width: 45px;
								height: 45px;
				    			border-radius: 50%;
							}
						}
					}
					.image-holder {
						max-width: 70px;
						img {
			    			width: 45px;
							height: 45px;
			    			border-radius: 50%;
			    			margin: 0;
						}
					}
					div {
						h5 {
						    font-family:Montserrat-SemiBold;
							font-size:16px;
							color:#1a171b;
							letter-spacing:0;
							line-height:22px;
							text-align:left;
							margin-bottom: 5px;
						}
						p {
							font-family:Montserrat-Regular;
							font-size:11px;
							color:#1a171b;
							letter-spacing:0;
							line-height:16px;
							text-align:left;
						}
						.percent-line {
							margin: 10px 0 8px;
						}
					}
					.digits {
						font-family:Montserrat-SemiBold;
						font-size:18px;
						color:#416077;
						letter-spacing:0;
						text-align:right;
						position: absolute;
						right: 0;
						top: 10px;
						margin: 0; 
					}
				}
			}
		}
	}
	.exitpoll-aside {
		ul {
			&>p {
				width: 100%;
				display: flex;
				align-items: center;
				font-family:Montserrat-Bold;
				font-size:13px;
				color:#244357;
				letter-spacing:0;
				line-height:15.6px;
				margin: 11px 0 0;
				padding-bottom: 11px;
				border-bottom: 2px solid #dfcebd;
				img {
					width:43px;
					height:40px;
					margin-right: 5px;
				}
			}
			.title-li {
				padding: 5px 0;
				&>p {
					display: flex;
					align-items: center;
					font-family:Montserrat-Bold;
					font-size:13px;
					color:#244357;
					letter-spacing:0;
					line-height:15.6px;
					margin: 0;
					img {
						width:43px;
						height:40px;
						margin-right: 5px;
					}
				}
				div {
					span {
					    padding: 0px 25px;
					}
				}	
			}
			li {
				p {
					font-family:Montserrat-Bold;
					font-size:12px;
					color:#356e89;
					letter-spacing:0;
					line-height:12px;
					text-align:left;
					text-transform: none;
					span {
						text-transform: none;
						display: block;
						font-family:Montserrat-Regular;
						font-size:11px;
						color:#1a171b;
						letter-spacing:0;
						line-height:14px;
						text-align:left;
					}
				}
				div {
					span {
						padding: 0 19px;
						font-family:Montserrat-Regular;
						font-size:12px;
						color:#000000;
						letter-spacing:0;
						line-height:12px;
						text-align:center;
					}
				}
			}
		}
		.retrospettivi-list {
			border-bottom:2px solid #244357;
			.title-li {
				p {
					font-family:Montserrat-Bold;
					font-size:13px;
					color:#244357;
					letter-spacing:0;
					line-height:16px;
					text-transform: uppercase;
				}
				div {
					span {
						font-family:Montserrat-Regular;
						font-size:11px;
						color:#ad9a88;
						letter-spacing:0;
						line-height:12px;
						text-align:center;
						padding: 0 17px;
					}
				}
			}
			li {
				p {
					font-family:Montserrat-Bold;
					font-size:11px;
					color:#356e89;
					letter-spacing:0;
					line-height:12px;
					text-align:left;
				}
				span {
					padding: 0 26px; 
				}
			}
		}
	}
}

@media (max-width: 1199px) {
	.a-masthead {
	    padding: 15px 5px;
	    #Amm2016Masthead {
		    max-width: 990px;
		}
	}
	.wrap-link {
		.links-line {
			max-width: 1008px;
			min-height: 40px; 
			border-top: 0px;
			margin-bottom: 30px;
			.logo-text {
				span {
					font-weight: 400;
				}
			}
			ul {
				li {
					margin-right: 18px;
					padding: 0 8px;
					a {
						font-size:13px;
						line-height:14px;
					}
				}
			}
		}
	}
	#main {
		max-width: 1008px;
		padding: 0 15px;
		.left-part {
			max-width: 645px;
			flex-shrink: 1;
			h1 {
				font-size: 26px;
				margin-bottom: 10px;
			}
			p {
				font-size:16px;
			}
			.candidate-list {
				border-top: 2px solid #244357;
				margin-bottom: 37px;
				li {
					min-height: 108px;
					div {
						h3 {
							font-size: 22px;
							font-weight: 400;
						}
					}
					&:first-child {
						border-top: 0;
						.image-holder {
							img {
								width: 76px;
								height: 71px;
							}
						}
					}
					.image-holder {
						img {
							width: 60px;
							height: 60px;
						}
					}
					.digits {
						font-size: 18px;
						color: #416077;
					}
				}
			}
		}
		.left-part {
			.candidate-map-holder {
				.candidate-list {
					max-width: 330px;
					margin-bottom: 100px;
					&li:first-child {
						.image-holder {
							img {
				    			width: 40px;
								height: 40px;
							}
						}
					}
					li {
						min-height: 75px;
						padding: 12px 0; 
						.image-holder {
							max-width: 50px;
							img {
				    			width: 40px;
								height: 40px;
							}
						}
						div {
							h5 {
								font-size:15px;
							}
						}
						.digits {
							font-size:14px;
							top: 13px;
						}
					}
				}
			}
			.candidate-list-detail {
				&>li {
					flex-direction: column;
					border-top: 2px solid #244357;
					margin-bottom: 30px;
					.detail-title {
						display: flex;
						align-items: center;
						padding: 18px 0;
						position: relative;
						img {
							width: 45px;
							height: 45px;
							margin-left: 10px;
							margin-right: 20px;
						}
						h5 {
							font-size:16px;
							line-height:16px;
						}
						span {
							font-size:16px;
							line-height:16px;
						}
					}
					ul {
						width: 100%;
						li {
							min-height: 49px;
							font-size:12px;
							text-transform: uppercase;
						}
					}
				}
			}
		}
		.exitpoll-left {
			.title-exitpoll {
				h1 {
					font-size:26px;
					color:#1a171b;
					text-align:left;
					i {
						font-size:16px;
					}
				}
				span {
					font-family:Montserrat-Regular;
					font-size:11px;
					color:#1a171b;
					text-align:left;
					margin-bottom: 30px;
					display: block;
				}
				p {
					font-size:12px;
				}
			}
			.title-exitpoll-table {
				.title-row {
					span {
						padding: 0 85px;
					}
				}
				&>div {
					min-height: 95px;
					div {
						min-width: 217px;
					}
				}
			}
			.exitpoll-list-tempo {
				li {
					padding: 10px 0;
					.detail-title {
						img {
							margin: 0 15px 0 0;
						}
						h5 {
							font-size:14px;
						}
						div {
							span {
								padding: 0 10px;
								font-size:13px;
								width: 108px;
								&:nth-child(1) {
									font-size:11px;
								}
								&:nth-child(3) {
									font-size:11px;
								}
							}
						}	
					}
					ul {
						.title-li {
							.detail-title {
								div {
									span {
										width: 108px;
										padding: 0 10px;
										font-size:13px;
										&:nth-child(1) {
											font-size:11px;
										}
										&:nth-child(3) {
											font-size:11px;
										}
									}
								}
							}
						}
						li {
							h5 {
								font-size:14px;
							}
							div {
								span, span:last-child {
									padding: 0 10px;
									font-size:13px;
									width: 108px;
									&:nth-child(1) {
										font-size:11px;
									}
									&:nth-child(3) {
										font-size:11px;
									}
								}
							}
						}
					}
				}
			}
		}
		.temporeale-left {
			.candidate-list{
				li{
					padding: 8px 0;
				}
			}
			.exitpoll-list-tempo {
				li {
					.detail-title {
						div {
							span {
								width: 73px;
								font-size:11px;
								height: 15px;
							}
						}
					}
					ul {
						.title-li {
							.detail-title {
								div {
									span {
										width: 73px;
										font-size:11px;
										height: 15px;
									}
								}
							}
						}
						li {
							div {
								span {
									width: 73px;
									font-size:11px;
									height: 15px;
									&:last-child {
										width: 73px;
										font-size:11px;
										height: 15px;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
@media (max-width: 768px) {
	.mobile-only {
		display: flex !important;
	}
	.a-masthead {
	    #Amm2016Masthead {
		    max-width: 714px;
		}
	}
	.wrap-link {
		.links-line {
			max-width: 714px;
			margin-bottom: 30px;
			position: relative;
			.logo-text {
				span {
					font-weight: 400;
				}
			}
			ul {
				li {
					margin-right: 18px;
					padding: 0 8px;
					a {
						font-size:10px;
						line-height:13px;
					}
				}
			}
			.socials {
			    position: absolute;
			    right: 0;
			    bottom: -50px;
			    a {
			    	color:#1a171b;
			    }
			}
		}
	}
	#main {
		max-width: 714px;
		padding: 0 15px;
		flex-direction: column;
		.left-part {
			max-width: 712px;
			flex-shrink: 1;
			margin: 0 auto; 
			
		}
		aside {
			max-width: 714px;
			.aside-banner {
				display: block;
				margin-bottom: 29px;
				padding: 25px 15px;
				background:#e5d5c5;
				img {
					display: block;
					max-width: 300px;
					margin: 0 auto;
				}
			}
			ul {
				border-top: 2px solid #244357;
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				&>div {
					width: 48%;
				}
				.title-li {
					min-height: 44px;
					display: flex;
					align-items: center;
					justify-content: space-between;
					&.mobile-only {
						display: block;
					}
				}
				.view-more {
					width: 100%;
					text-align: right;
				}
			}
			.without-borders {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				&:last-child {
					margin-bottom: 0;
					border-top: 0;
				}
				&.without-borders-last {
					border-top: 0;
					border-bottom: 2px solid #244357;
				}
				&>div {
					width: 30%;
				}
				.title-li {
					border-bottom: 0;
					width: 100%;
				}
				li {
					&.hidden {
						display: none;
					}
					p {
						text-transform: none;
						color:#356e89;
					}
					span {
						padding-right: 5px;
						&:last-child {
							border-left: 0;
						}
					}
				}
			}
			.side-block {
			    padding-top: 15px;
			    margin-bottom: 30px;
			    position: relative;
			    .marketing-banner {
			    	display: block;
			    	margin-top: 25px;
			    }
			    .side-block-heading {
				    margin-bottom: 12px;
				    h5 {
					    margin-bottom: 0;
					    font-size: 12px;
					    color: #244357;
					    font-weight: 300;
					    a {
					    	color: inherit;
					    }
					}
					h4 {
					    font-size: 17px;
					    margin-bottom: 5px;
					    font-weight: 700;
					}
					.account {
						a {
						    color: #356e89;
						    font-size: 13px;
						    line-height: 16px;
						    display: block;
						    margin-top: 5px;
						}
					}
				}
				.list {
					display: flex;
					border: 0;
					&>li.i {
						width: 33%;
					    border-bottom: none;
					    border-right: 1px solid #d1c0af;
					    padding: 0 10px;
					    &:last-child {
					    	border-right: 0;
					    	padding-right: 0;
					    }
					    &:first-child {
					    	padding-left: 0;
					    }
					    .tweet-body {
							margin-bottom: 13px;
					    }
					    .tweet-actions {
					    	li {
					    		margin-right: 0px;
					    	}
					    }
					}
					.meta {
						border: 0;
						&>li {
							font-size:15px;
							color:#1a171b;
							letter-spacing:0;
							text-align:left;
							border: 0;
						}
					}
				}
			}
		}

	}
}