// Sass Variables
// Colors
$black: #000;
$white: #fff;
$blue: #00f;
$base-color: #1a171b;


// Body
$base-font-size: 13px !default;
$base-line-height: 1.4 !default;
$base-text-color: $base-color !default;
$base-font-family: 'Montserrat-Regular', sans-serif !default;
$base-background-color: #F5E5D5 !default;
$base-min-width: 320px;

// Headings
$h1-font-size: 30px !default;
$h2-font-size: 27px !default;
$h3-font-size: 24px !default;
$h4-font-size: 21px !default;
$h5-font-size: 18px !default;
$h6-font-size: 15px !default;

$p-font-size: 13px !default;

$headings-line-height: 1.2 !default;

$headings-font-family: inherit !default;
$headings-font-weight: bold !default;
$headings-color: inherit !default;

// Links
$base-link-color: $blue;
$hover-link-color: $blue;

// Grid
$content-max-width: 980px;
$side-space: 20px;

// Tablet view
$tablet-width: 1003px;

// Smartphone view
$mobile-width: 768px;

// Animation
$animation-speed: 0.5s;
$animation-func: ease;
