@font-face {
  font-family: 'MontserratHairline';
  src: url("../fonts/Montserrat-Hairline.eot");
  src: url("../fonts/Montserrat-Hairline.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Hairline.woff2") format("woff2"), url("../fonts/Montserrat-Hairline.woff") format("woff"), url("../fonts/Montserrat-Hairline.ttf") format("truetype");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'MontserratBlack';
  src: url("../fonts/Montserrat-Black.eot");
  src: url("../fonts/Montserrat-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Black.woff2") format("woff2"), url("../fonts/Montserrat-Black.woff") format("woff"), url("../fonts/Montserrat-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat-Regular';
  src: url("../fonts/Montserrat-Regular.eot");
  src: url("../fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat-Bold';
  src: url("../fonts/Montserrat-Bold.eot");
  src: url("../fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url("../fonts/Montserrat-SemiBold.eot");
  src: url("../fonts/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'MontserratUltra';
  src: url("../fonts/Montserrat-UltraLight.eot");
  src: url("../fonts/Montserrat-UltraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-UltraLight.woff2") format("woff2"), url("../fonts/Montserrat-UltraLight.woff") format("woff"), url("../fonts/Montserrat-UltraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'MontserratExtra';
  src: url("../fonts/Montserrat-ExtraBold.eot");
  src: url("../fonts/Montserrat-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-ExtraBold.woff2") format("woff2"), url("../fonts/Montserrat-ExtraBold.woff") format("woff"), url("../fonts/Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'MontserratLight';
  src: url("../fonts/Montserrat-Light.eot");
  src: url("../fonts/Montserrat-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Light.woff2") format("woff2"), url("../fonts/Montserrat-Light.woff") format("woff"), url("../fonts/Montserrat-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

/* Reset CSS */
* {
  -webkit-text-size-adjust: none; }

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video, main {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block; }

html {
  height: 100%;
  -webkit-text-size-adjust: none; }

body {
  height: 100%;
  position: relative;
  background: #F5E5D5;
  font: 13px/1.4 "Montserrat-Regular", sans-serif;
  color: #1a171b;
  min-width: 320px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

* {
  box-sizing: border-box; }

img {
  max-width: 100%;
  height: auto; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input, select, textarea {
  vertical-align: top; }

textarea {
  overflow: auto; }

.holder {
  margin: 0 auto;
  max-width: 980px;
  padding-left: 20px;
  padding-right: 20px; }
  .holder:after {
    content: '';
    display: block;
    clear: both; }

.sp {
  display: none; }

.pc {
  display: block; }

@media only screen and (min-width: 768px) {
  .sp {
    display: none !important; }
  .pc {
    display: block !important; } }

h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: bold;
  line-height: 1.2;
  color: inherit; }

h1 {
  font-size: 30px; }

h2 {
  font-size: 27px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 21px; }

h5 {
  font-size: 18px; }

h6 {
  font-size: 15px; }

p {
  font-size: 13px; }

a {
  color: #00f;
  text-decoration: none;
  vertical-align: baseline;
  -webkit-tap-highlight-color: transparent; }
  a:hover, a:focus {
    text-decoration: none;
    color: #00f; }

#header {
  position: relative;
  z-index: 99990; }
  #header .main-header {
    position: relative;
    background-color: #F5E5D5;
    border-bottom: 1px solid #d1c0af; }
    #header .main-header .container {
      height: 50px;
      line-height: 50px;
      max-width: 1200px;
      margin: 0 auto;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: justify;
          justify-content: space-between;
      padding: 0 17px; }
      #header .main-header .container .mobile-only {
        display: none; }
      #header .main-header .container .tools-left ul, #header .main-header .container .tools-right ul {
        display: -ms-flexbox;
        display: flex; }
        #header .main-header .container .tools-left ul .link, #header .main-header .container .tools-right ul .link {
          cursor: pointer;
          color: #234357;
          text-transform: uppercase;
          font-family: Montserrat,Arial,"Helvetica Neue",Helvetica,sans-serif;
          font-weight: 700;
          font-size: 12px;
          padding-right: 20px; }
          #header .main-header .container .tools-left ul .link a, #header .main-header .container .tools-right ul .link a {
            color: #244357;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
                align-items: center; }
            #header .main-header .container .tools-left ul .link a:hover, #header .main-header .container .tools-right ul .link a:hover {
              color: #356e89; }
            #header .main-header .container .tools-left ul .link a img, #header .main-header .container .tools-right ul .link a img {
              width: 13px;
              height: 13px;
              margin-right: 10px; }
      #header .main-header .container .tools-right a {
        cursor: pointer;
        color: #234357;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 12px; }
    #header .main-header .btn {
      border-radius: 20px;
      font-size: 13px;
      line-height: 1em;
      outline: 0 !important;
      padding: 6px 12px;
      color: #356e89;
      border: 1px solid transparent;
      text-decoration: none;
      font-weight: 700; }
    #header .main-header .btn-pri {
      background-color: #356e89;
      color: #fff !important; }
      #header .main-header .btn-pri:hover {
        background-color: #234357 !important;
        border-color: #234357 !important; }
  #header .section-header-meta {
    background-color: #F5E5D5;
    border-bottom: 1px solid #d1c0af;
    overflow: hidden; }
    #header .section-header-meta .container {
      max-width: 1200px;
      margin: 0 auto;
      position: relative; }
      #header .section-header-meta .container .section-header-title {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
            justify-content: center;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
        #header .section-header-meta .container .section-header-title .header-title {
          display: block;
          width: 100%;
          text-align: center;
          font-size: 48px;
          color: #356e89; }
        #header .section-header-meta .container .section-header-title ul {
          margin-top: 10px;
          display: -ms-flexbox;
          display: flex;
          margin-bottom: 13px; }
          #header .section-header-meta .container .section-header-title ul li {
            margin-right: 14px;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
                align-items: center;
            border-right: 1px solid #d1c0af;
            padding-right: 6px; }
            #header .section-header-meta .container .section-header-title ul li:last-child {
              margin-right: 0;
              border: none; }
            #header .section-header-meta .container .section-header-title ul li:first-child a {
              color: #1a171b; }
            #header .section-header-meta .container .section-header-title ul li img {
              width: 12px;
              height: 12px;
              margin-right: 10px; }
            #header .section-header-meta .container .section-header-title ul li a {
              font-size: 12px;
              color: #356e89;
              text-align: left; }
  #header .main-header-nav {
    min-height: 38px;
    border-bottom: 1px solid #323232;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center; }
    #header .main-header-nav ul {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
          justify-content: center;
      -ms-flex-align: center;
          align-items: center; }
      #header .main-header-nav ul li {
        margin-right: 21px; }
        #header .main-header-nav ul li a {
          font-size: 15px;
          color: #1a171b; }
          #header .main-header-nav ul li a:hover {
            color: #356e89; }

@media (max-width: 768px) {
  #header {
    position: relative;
    z-index: 99990; }
    #header .main-header {
      position: relative;
      background-color: #F5E5D5;
      border-bottom: 1px solid #d1c0af; }
      #header .main-header .container {
        height: 37px;
        line-height: 39px;
        max-width: 714px;
        -ms-flex-align: center;
            align-items: center;
        padding: 0; }
        #header .main-header .container .mobile-only {
          display: block;
          width: 100%;
          text-align: center;
          font-size: 28px;
          color: #356e89; }
        #header .main-header .container .tools-left ul, #header .main-header .container .tools-right ul {
          display: -ms-flexbox;
          display: flex; }
          #header .main-header .container .tools-left ul .link, #header .main-header .container .tools-right ul .link {
            font-size: 0px;
            padding-right: 20px; }
            #header .main-header .container .tools-left ul .link a, #header .main-header .container .tools-right ul .link a {
              width: 18px;
              height: 18px; }
              #header .main-header .container .tools-left ul .link a:hover, #header .main-header .container .tools-right ul .link a:hover {
                color: #356e89; }
              #header .main-header .container .tools-left ul .link a img, #header .main-header .container .tools-right ul .link a img {
                width: 18px;
                height: 18px;
                margin-right: 10px; }
    #header .section-header-meta {
      background-color: #F5E5D5;
      border-bottom: 1px solid #d1c0af;
      overflow: hidden; }
      #header .section-header-meta .container {
        max-width: 714px;
        background: #F5E5D6; }
        #header .section-header-meta .container .section-header-title {
          display: -ms-flexbox;
          display: flex;
          -ms-flex-pack: center;
              justify-content: center;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; }
          #header .section-header-meta .container .section-header-title .header-title {
            display: block;
            width: 100%;
            text-align: center;
            font-size: 48px;
            color: #356e89; }
            #header .section-header-meta .container .section-header-title .header-title.mobile-hidden {
              display: none; }
          #header .section-header-meta .container .section-header-title ul {
            margin-top: 10px;
            display: -ms-flexbox;
            display: flex;
            margin-bottom: 13px; }
            #header .section-header-meta .container .section-header-title ul li {
              margin-right: 14px;
              display: -ms-flexbox;
              display: flex;
              -ms-flex-align: center;
                  align-items: center;
              border-right: 1px solid #d1c0af;
              padding-right: 6px; }
              #header .section-header-meta .container .section-header-title ul li:last-child {
                margin-right: 0;
                border: none; }
              #header .section-header-meta .container .section-header-title ul li:first-child a {
                color: #1a171b; }
              #header .section-header-meta .container .section-header-title ul li img {
                width: 12px;
                height: 12px;
                margin-right: 10px; }
              #header .section-header-meta .container .section-header-title ul li a {
                font-size: 12px;
                color: #356e89;
                text-align: left; }
    #header .main-header-nav ul li a {
      font-size: 14px;
      color: #1a171b;
      font-family: 'MontserratSemi'; } }

.a-masthead {
  border-bottom: 1px solid #d1c0af;
  text-align: center;
  padding: 15px 0;
  margin-bottom: 16px; }
  .a-masthead #Amm2016Masthead {
    max-width: 990px;
    width: 100%;
    height: 250px;
    opacity: 0.5;
    background: #FC7474;
    color: #1A171B;
    margin: 0 auto; }

.wrap-link {
  background: #244357;
  width: 100%; }
  .wrap-link .links-line {
    padding: 0 15px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    min-height: 43px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: justify;
        justify-content: space-between;
    border-top: 3px solid #112531;
    margin-bottom: 27px; }
    .wrap-link .links-line .logo-text {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
          align-items: center; }
      .wrap-link .links-line .logo-text img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-right: 10px; }
      .wrap-link .links-line .logo-text span {
        font-size: 20px;
        color: #ffffff; }
        .wrap-link .links-line .logo-text span b {
          opacity: 0.6; }
    .wrap-link .links-line ul {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
          align-items: center; }
      .wrap-link .links-line ul li {
        margin-right: 21px;
        padding: 0 10px;
        border-left: 1px solid #112531;
        height: 24px;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
            align-items: center; }
        .wrap-link .links-line ul li:last-child {
          margin-right: 0;
          border-right: 1px solid #112531; }
        .wrap-link .links-line ul li a {
          font-size: 14px;
          color: #ffffff;
          line-height: 16px;
          text-transform: uppercase; }
          .wrap-link .links-line ul li a:hover {
            color: #ccc; }
    .wrap-link .links-line .socials {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
          align-items: center; }
      .wrap-link .links-line .socials a {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
            align-items: center;
        color: #fff;
        font-size: 10px;
        margin-right: 5px; }
        .wrap-link .links-line .socials a img {
          width: 30px;
          height: 30px;
          margin-right: 5px; }

/* main styles */
#main {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  #main .breadcrumbs {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-align: center;
        align-items: center;
    margin-bottom: 10px; }
    #main .breadcrumbs li {
      margin-right: 20px;
      position: relative; }
      #main .breadcrumbs li:after {
        content: '';
        display: inline-block;
        background: #ad9a88;
        width: 1px;
        height: 11px;
        position: absolute;
        right: -10px;
        top: 4px; }
      #main .breadcrumbs li:last-child:after {
        display: none; }
      #main .breadcrumbs li a {
        font-family: 'Montserrat-Bold';
        font-size: 11px;
        color: #356e89;
        letter-spacing: 0;
        line-height: 15.6px; }
  #main .left-part {
    max-width: 840px;
    width: 100%;
    margin-right: 30px;
    -ms-flex-negative: 0;
        flex-shrink: 0; }
    #main .left-part h1 {
      color: #1a171b;
      line-height: 31.2px;
      font-weight: 400;
      margin-bottom: 13px; }
    #main .left-part p {
      font-size: 18px;
      color: #112531;
      letter-spacing: 0;
      text-align: left;
      font-weight: 300;
      margin-bottom: 29px; }
    #main .left-part .candidate-list {
      border-top: 2px solid #244357;
      margin-bottom: 37px; }
      #main .left-part .candidate-list:last-child {
        margin-bottom: 0; }
      #main .left-part .candidate-list li {
        min-height: 99px;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
            align-items: center;
        -ms-flex-pack: justify;
            justify-content: space-between;
        border-top: 2px solid #ad9a88;
        padding: 18px 0; }
        #main .left-part .candidate-list li:first-child {
          border-top: 0; }
          #main .left-part .candidate-list li:first-child .image-holder img {
            width: 86px;
            height: 81px;
            border-radius: 50%; }
          #main .left-part .candidate-list li:first-child .read-more {
            font-size: 13px;
            color: #356e89;
            letter-spacing: 0;
            line-height: 15px;
            text-align: right;
            -ms-flex-negative: 0;
                flex-shrink: 0;
            -ms-flex-item-align: start;
                align-self: flex-start;
            margin-top: 14px; }
            #main .left-part .candidate-list li:first-child .read-more:after {
              content: '';
              display: inline-block;
              width: 6px;
              height: 10px;
              background: url(../images/arrow-right.png) no-repeat;
              background-size: contain;
              margin-left: 10px; }
        #main .left-part .candidate-list li .image-holder {
          max-width: 100px;
          width: 100%;
          -ms-flex-negative: 0;
              flex-shrink: 0; }
          #main .left-part .candidate-list li .image-holder img {
            display: block;
            width: 60px;
            height: 60px;
            margin-right: 11px;
            border-radius: 50%;
            margin: 0 auto; }
        #main .left-part .candidate-list li div {
          width: 100%; }
          #main .left-part .candidate-list li div h3 {
            color: #244357;
            margin-bottom: 10px; }
          #main .left-part .candidate-list li div h5 {
            font-family: Montserrat-Bold;
            color: #244357;
            letter-spacing: 0;
            line-height: 16px;
            text-align: left;
            margin-bottom: 5px;
            text-transform: uppercase; }
          #main .left-part .candidate-list li div .percent-line {
            width: 100%;
            display: -ms-flexbox;
            display: flex;
            height: 12px;
            margin: 14px 0 9px; }
            #main .left-part .candidate-list li div .percent-line .blue {
              background: #356e89;
              -ms-flex-negative: 0;
                  flex-shrink: 0; }
              #main .left-part .candidate-list li div .percent-line .blue.blue-229 {
                width: 229px; }
              #main .left-part .candidate-list li div .percent-line .blue.blue-204 {
                width: 204px; }
              #main .left-part .candidate-list li div .percent-line .blue.blue-202 {
                width: 202px; }
              #main .left-part .candidate-list li div .percent-line .blue.blue-165 {
                width: 165px; }
              #main .left-part .candidate-list li div .percent-line .blue.blue-138 {
                width: 138px; }
              #main .left-part .candidate-list li div .percent-line .blue.blue-131 {
                width: 131px; }
              #main .left-part .candidate-list li div .percent-line .blue.blue-120 {
                width: 120px; }
              #main .left-part .candidate-list li div .percent-line .blue.blue-107 {
                width: 107px; }
              #main .left-part .candidate-list li div .percent-line .blue.blue-105 {
                width: 105px; }
              #main .left-part .candidate-list li div .percent-line .blue.blue-104 {
                width: 104px; }
              #main .left-part .candidate-list li div .percent-line .blue.blue-80 {
                width: 80px; }
              #main .left-part .candidate-list li div .percent-line .blue.blue-75 {
                width: 75px; }
              #main .left-part .candidate-list li div .percent-line .blue.blue-68 {
                width: 68px; }
              #main .left-part .candidate-list li div .percent-line .blue.blue-53 {
                width: 53px; }
              #main .left-part .candidate-list li div .percent-line .blue.blue-48 {
                width: 48px; }
              #main .left-part .candidate-list li div .percent-line .blue.blue-38 {
                width: 38px; }
              #main .left-part .candidate-list li div .percent-line .blue.blue-20 {
                width: 20px; }
              #main .left-part .candidate-list li div .percent-line .blue.blue-19 {
                width: 19px; }
            #main .left-part .candidate-list li div .percent-line .grey {
              width: 100%;
              background: rgba(173, 154, 136, 0.2); }
          #main .left-part .candidate-list li div span {
            font-size: 11px;
            color: #1a171b;
            letter-spacing: 0;
            line-height: 16px;
            display: block; }
            #main .left-part .candidate-list li div span i {
              font-size: 11px;
              color: #244357;
              line-height: 16px;
              text-align: left;
              font-style: normal; }
          #main .left-part .candidate-list li div p {
            font-family: Montserrat-Regular;
            font-size: 13px;
            color: #1a171b;
            letter-spacing: 0;
            line-height: 20px;
            text-align: left;
            margin-bottom: 0; }
        #main .left-part .candidate-list li .digits {
          text-align: right;
          -ms-flex-negative: 0;
              flex-shrink: 0;
          -ms-flex-item-align: start;
              align-self: flex-start;
          margin-top: 9px;
          font-family: Montserrat-SemiBold;
          font-size: 22px;
          color: #416077;
          letter-spacing: 0;
          text-align: right; }
    #main .left-part .candidate-list-detail > li {
      -ms-flex-direction: column;
          flex-direction: column;
      border-top: 2px solid #244357;
      margin-bottom: 30px; }
      #main .left-part .candidate-list-detail > li .detail-title {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
            align-items: center;
        padding: 18px 0;
        position: relative; }
        #main .left-part .candidate-list-detail > li .detail-title img {
          width: 45px;
          height: 45px;
          margin-left: 10px;
          margin-right: 20px; }
        #main .left-part .candidate-list-detail > li .detail-title h5 {
          font-family: Montserrat-Bold;
          font-size: 18px;
          color: #244357;
          letter-spacing: 0;
          line-height: 16px;
          text-align: left;
          width: 100%; }
        #main .left-part .candidate-list-detail > li .detail-title span {
          font-family: Montserrat-Bold;
          font-size: 18px;
          color: #416077;
          letter-spacing: 0;
          line-height: 16px;
          text-align: right;
          -ms-flex-negative: 0;
              flex-shrink: 0; }
        #main .left-part .candidate-list-detail > li .detail-title i {
          font-style: normal;
          font-family: Montserrat-Regular;
          font-size: 11px;
          color: #ad9a88;
          letter-spacing: 0;
          line-height: 15.6px;
          text-align: right;
          position: absolute;
          top: 5px;
          right: 10px; }
      #main .left-part .candidate-list-detail > li ul {
        width: 100%; }
        #main .left-part .candidate-list-detail > li ul li {
          min-height: 49px;
          font-family: Montserrat-Bold;
          font-size: 13px;
          color: #416077;
          letter-spacing: 0;
          line-height: 16px;
          text-align: left;
          text-transform: uppercase; }
    #main .left-part .candidate-list-percent li {
      position: relative; }
      #main .left-part .candidate-list-percent li .digits {
        position: absolute;
        top: 0;
        right: 10px; }
    #main .left-part .candidate-list-tempo ul li {
      -ms-flex-pack: justify;
          justify-content: space-between; }
      #main .left-part .candidate-list-tempo ul li div {
        width: auto;
        display: -ms-flexbox;
        display: flex; }
        #main .left-part .candidate-list-tempo ul li div span {
          width: 130px;
          height: 26px;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-align: center;
              align-items: center;
          -ms-flex-pack: center;
              justify-content: center;
          padding: 0 35px;
          font-size: 12px;
          color: #416077;
          letter-spacing: 0;
          line-height: 16px;
          text-align: center; }
          #main .left-part .candidate-list-tempo ul li div span.borders {
            border-left: 1px solid #ad9a88;
            border-right: 1px solid #ad9a88; }
          #main .left-part .candidate-list-tempo ul li div span:last-child {
            font-family: Montserrat-Regular;
            font-size: 20px;
            color: #416077;
            letter-spacing: 0;
            line-height: 16px;
            text-align: center; }
    #main .left-part .candidate-list-tempo li .detail-title i {
      display: none; }
    #main .left-part .candidate-list-tempo li .detail-title div {
      width: auto;
      display: -ms-flexbox;
      display: flex; }
      #main .left-part .candidate-list-tempo li .detail-title div span {
        width: 130px;
        height: 26px;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
            align-items: center;
        -ms-flex-pack: center;
            justify-content: center;
        padding: 0 35px;
        font-family: Montserrat-Bold;
        font-size: 16px;
        color: #416077;
        letter-spacing: 0;
        line-height: 16px;
        text-align: center;
        position: relative; }
        #main .left-part .candidate-list-tempo li .detail-title div span:before {
          content: '';
          display: block;
          position: absolute;
          top: -35px;
          left: 0;
          right: 0;
          margin: 0 auto;
          font-family: Montserrat-Regular;
          font-size: 11px;
          color: #ad9a88;
          letter-spacing: 0;
          line-height: 15.6px;
          text-align: center; }
        #main .left-part .candidate-list-tempo li .detail-title div span:nth-child(1):before {
          content: '%'; }
        #main .left-part .candidate-list-tempo li .detail-title div span:nth-child(2):before {
          content: 'VOTI'; }
        #main .left-part .candidate-list-tempo li .detail-title div span:nth-child(3):before {
          content: 'SEGGI'; }
        #main .left-part .candidate-list-tempo li .detail-title div span.borders {
          border-left: 1px solid #ad9a88;
          border-right: 1px solid #ad9a88; }
  #main aside {
    max-width: 300px;
    width: 100%; }
    #main aside .aside-banner {
      display: block;
      margin-bottom: 29px; }
    #main aside ul {
      border-top: 2px solid #244357; }
      #main aside ul .title-li {
        min-height: 44px;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
            align-items: center;
        -ms-flex-pack: justify;
            justify-content: space-between; }
        #main aside ul .title-li.mobile-only {
          display: none; }
        #main aside ul .title-li p {
          font-size: 13px;
          color: #244357;
          line-height: 16px;
          text-transform: uppercase;
          font-weight: 300; }
        #main aside ul .title-li div {
          display: -ms-flexbox;
          display: flex; }
          #main aside ul .title-li div span {
            font-size: 11px;
            color: #ad9a88;
            line-height: 12px;
            text-align: center;
            padding: 0 20px; }
            #main aside ul .title-li div span:last-child {
              border-left: 2px solid #ad9a88; }
      #main aside ul li {
        min-height: 35px;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
            align-items: center;
        -ms-flex-pack: justify;
            justify-content: space-between;
        border-bottom: 1px  solid #ad9a88; }
        #main aside ul li p {
          font-size: 11px;
          color: #244357;
          line-height: 12px;
          text-align: left;
          text-transform: uppercase; }
          #main aside ul li p.padding-left-10px {
            padding-left: 10px;
            color: #356e89; }
        #main aside ul li div {
          display: -ms-flexbox;
          display: flex; }
          #main aside ul li div span {
            font-size: 10px;
            color: #000000;
            letter-spacing: 0;
            line-height: 12px;
            text-align: center;
            padding: 0 15px; }
            #main aside ul li div span:last-child {
              border-left: 2px solid #ad9a88; }
      #main aside ul .view-more {
        font-size: 13px;
        color: #356e89;
        letter-spacing: 0;
        line-height: 15px;
        display: block;
        text-align: right;
        margin-top: 14px;
        margin-bottom: 29px; }
        #main aside ul .view-more:after {
          content: '';
          display: inline-block;
          width: 6px;
          height: 10px;
          background: url(../images/arrow-right.png) no-repeat;
          background-size: contain;
          margin-left: 10px; }
    #main aside .without-borders {
      margin-bottom: 20px; }
      #main aside .without-borders:last-child {
        margin-bottom: 0;
        border-top: 0; }
      #main aside .without-borders .title-li {
        border-bottom: 0; }
      #main aside .without-borders .after-title-li.mobile-only {
        display: none; }
      #main aside .without-borders .after-title-li p {
        font-size: 11px;
        color: #ad9a88;
        letter-spacing: 0;
        line-height: 12px;
        text-align: left; }
      #main aside .without-borders .after-title-li div {
        display: -ms-flexbox;
        display: flex; }
        #main aside .without-borders .after-title-li div span {
          font-size: 11px;
          color: #ad9a88;
          letter-spacing: 0;
          line-height: 12px;
          text-align: right;
          padding: 0;
          padding-right: 5px; }
          #main aside .without-borders .after-title-li div span:last-child {
            border-left: 0; }
      #main aside .without-borders li p {
        text-transform: none;
        color: #356e89; }
      #main aside .without-borders li span {
        padding-right: 5px; }
        #main aside .without-borders li span:last-child {
          border-left: 0; }
    #main aside .side-block {
      padding-top: 15px;
      margin-bottom: 30px;
      position: relative; }
      #main aside .side-block .marketing-banner {
        display: block;
        margin-top: 25px; }
      #main aside .side-block .side-block-heading {
        margin-bottom: 12px; }
        #main aside .side-block .side-block-heading h5 {
          margin-bottom: 0;
          font-size: 12px;
          color: #244357;
          font-weight: 300; }
          #main aside .side-block .side-block-heading h5 a {
            color: inherit; }
        #main aside .side-block .side-block-heading h4 {
          font-size: 17px;
          margin-bottom: 5px;
          font-weight: 700; }
        #main aside .side-block .side-block-heading .account a {
          color: #356e89;
          font-size: 13px;
          line-height: 16px;
          display: block;
          margin-top: 5px; }
          #main aside .side-block .side-block-heading .account a .icon-twitter {
            display: inline-block;
            width: 13px;
            height: 11px;
            background: url(../images/icon-twitter.svg);
            background-size: contain;
            margin-right: 5px; }
      #main aside .side-block .list {
        border: 0; }
        #main aside .side-block .list > li.i {
          display: list-item;
          padding-bottom: 6px;
          margin-bottom: 10px;
          border-bottom: 1px solid #d1c0af; }
          #main aside .side-block .list > li.i .tweet-body {
            font-size: 11px;
            color: #323232;
            font-weight: 300; }
            #main aside .side-block .list > li.i .tweet-body a {
              color: #356e89; }
          #main aside .side-block .list > li.i .tweet-actions {
            border: 0;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
                align-items: center; }
            #main aside .side-block .list > li.i .tweet-actions li {
              border: 0;
              margin-right: 20px; }
              #main aside .side-block .list > li.i .tweet-actions li:last-child {
                margin-right: 0; }
              #main aside .side-block .list > li.i .tweet-actions li a {
                color: #323232;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-align: center;
                    align-items: center; }
                #main aside .side-block .list > li.i .tweet-actions li a .icon-reply {
                  display: inline-block;
                  width: 13px;
                  height: 10px;
                  background: url(../images/icon-reply.png);
                  background-size: contain;
                  margin-right: 5px; }
                #main aside .side-block .list > li.i .tweet-actions li a .icon-retweet {
                  display: inline-block;
                  width: 14px;
                  height: 9px;
                  background: url(../images/icon-retweet.png);
                  background-size: contain;
                  margin-right: 5px; }
                #main aside .side-block .list > li.i .tweet-actions li a .icon-star {
                  display: inline-block;
                  width: 12px;
                  height: 12px;
                  background: url(../images/icon-favorite.png);
                  background-size: contain;
                  margin-right: 5px; }
        #main aside .side-block .list .meta {
          border: 0; }
          #main aside .side-block .list .meta > li {
            font-size: 15px;
            color: #1a171b;
            letter-spacing: 0;
            text-align: left;
            border: 0; }
  #main .left-part .candidate-map-holder {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between; }
    #main .left-part .candidate-map-holder > div {
      width: 100%; }
      #main .left-part .candidate-map-holder > div p {
        font-family: Montserrat-Bold;
        font-size: 13px;
        color: #244357;
        letter-spacing: 0;
        line-height: 15.6px;
        margin-bottom: 20px;
        text-transform: uppercase; }
      #main .left-part .candidate-map-holder > div .map-holder {
        margin: 16px 0;
        padding: 16px 0;
        border-top: 1px solid #dfcebd;
        border-bottom: 1px solid #dfcebd; }
        #main .left-part .candidate-map-holder > div .map-holder img {
          display: block;
          max-width: calc(100% - 40px);
          margin: 0 auto; }
      #main .left-part .candidate-map-holder > div span {
        display: block;
        font-family: Montserrat-Regular;
        font-size: 11px;
        color: #1a171b;
        letter-spacing: 0;
        line-height: 16px;
        text-align: left; }
        #main .left-part .candidate-map-holder > div span i {
          font-family: Montserrat-Bold;
          font-size: 11px;
          color: #244357;
          letter-spacing: 0;
          line-height: 16px;
          text-align: left;
          font-style: normal; }
      #main .left-part .candidate-map-holder > div b {
        font-family: Montserrat-Light;
        font-size: 12px;
        color: #ad9a88; }
      #main .left-part .candidate-map-holder > div form {
        position: relative; }
        #main .left-part .candidate-map-holder > div form input[type="text"] {
          display: -ms-flexbox;
          display: flex;
          -ms-flex-align: center;
              align-items: center;
          padding-left: 16px;
          background: #ffffff;
          border-radius: 28px;
          width: 100%;
          height: 36px;
          font-family: Montserrat-Regular;
          font-size: 11px;
          color: #6a6a6a;
          text-align: left;
          border: none;
          outline: none;
          margin-bottom: 20px; }
        #main .left-part .candidate-map-holder > div form input[type="submit"] {
          width: 17px;
          height: 16px;
          background: url(../images/search.png) no-repeat;
          background-size: contain;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 15px;
          border: none;
          outline: none;
          font-size: 0;
          cursor: pointer; }
        #main .left-part .candidate-map-holder > div form .selecter {
          margin-top: 20px; }
    #main .left-part .candidate-map-holder .candidate-list {
      width: 100%;
      border: none;
      max-width: 416px;
      width: 100%;
      -ms-flex-negative: 0;
          flex-shrink: 0;
      margin-right: 15px;
      border-right: 1px solid #ad9a88;
      padding-right: 13px;
      margin-bottom: 100px; }
      #main .left-part .candidate-map-holder .candidate-list p {
        font-family: Montserrat-Bold;
        font-size: 13px;
        color: #244357;
        letter-spacing: 0;
        line-height: 15.6px;
        text-transform: uppercase;
        margin-bottom: 0; }
      #main .left-part .candidate-map-holder .candidate-list li {
        -ms-flex-align: start;
            align-items: flex-start;
        position: relative;
        min-height: 80px;
        padding: 12px 0; }
        #main .left-part .candidate-map-holder .candidate-list li.no-border {
          border-top: 0; }
          #main .left-part .candidate-map-holder .candidate-list li.no-border .image-holder img {
            width: 45px;
            height: 45px;
            border-radius: 50%; }
        #main .left-part .candidate-map-holder .candidate-list li .image-holder {
          max-width: 70px; }
          #main .left-part .candidate-map-holder .candidate-list li .image-holder img {
            width: 45px;
            height: 45px;
            border-radius: 50%;
            margin: 0; }
        #main .left-part .candidate-map-holder .candidate-list li div h5 {
          font-family: Montserrat-SemiBold;
          font-size: 16px;
          color: #1a171b;
          letter-spacing: 0;
          line-height: 22px;
          text-align: left;
          margin-bottom: 5px; }
        #main .left-part .candidate-map-holder .candidate-list li div p {
          font-family: Montserrat-Regular;
          font-size: 11px;
          color: #1a171b;
          letter-spacing: 0;
          line-height: 16px;
          text-align: left; }
        #main .left-part .candidate-map-holder .candidate-list li div .percent-line {
          margin: 10px 0 8px; }
        #main .left-part .candidate-map-holder .candidate-list li .digits {
          font-family: Montserrat-SemiBold;
          font-size: 18px;
          color: #416077;
          letter-spacing: 0;
          text-align: right;
          position: absolute;
          right: 0;
          top: 10px;
          margin: 0; }

@media (max-width: 1199px) {
  .a-masthead {
    padding: 15px 5px; }
    .a-masthead #Amm2016Masthead {
      max-width: 990px; }
  .wrap-link .links-line {
    max-width: 1008px;
    min-height: 40px;
    border-top: 0px;
    margin-bottom: 30px; }
    .wrap-link .links-line .logo-text span {
      font-weight: 400; }
    .wrap-link .links-line ul li {
      margin-right: 18px;
      padding: 0 8px; }
      .wrap-link .links-line ul li a {
        font-size: 13px;
        line-height: 14px; }
  #main {
    max-width: 1008px;
    padding: 0 15px; }
    #main .left-part {
      max-width: 645px;
      -ms-flex-negative: 1;
          flex-shrink: 1; }
      #main .left-part h1 {
        font-size: 26px;
        margin-bottom: 10px; }
      #main .left-part p {
        font-size: 16px; }
      #main .left-part .candidate-list {
        border-top: 2px solid #244357;
        margin-bottom: 37px; }
        #main .left-part .candidate-list li {
          min-height: 108px; }
          #main .left-part .candidate-list li div h3 {
            font-size: 22px;
            font-weight: 400; }
          #main .left-part .candidate-list li:first-child {
            border-top: 0; }
            #main .left-part .candidate-list li:first-child .image-holder img {
              width: 76px;
              height: 71px; }
          #main .left-part .candidate-list li .image-holder img {
            width: 60px;
            height: 60px; }
          #main .left-part .candidate-list li .digits {
            font-size: 18px;
            color: #416077; }
    #main .left-part .candidate-map-holder .candidate-list {
      max-width: 330px;
      margin-bottom: 100px; }
      #main .left-part .candidate-map-holder .candidate-listli:first-child .image-holder img {
        width: 40px;
        height: 40px; }
      #main .left-part .candidate-map-holder .candidate-list li {
        min-height: 75px;
        padding: 12px 0; }
        #main .left-part .candidate-map-holder .candidate-list li .image-holder {
          max-width: 50px; }
          #main .left-part .candidate-map-holder .candidate-list li .image-holder img {
            width: 40px;
            height: 40px; }
        #main .left-part .candidate-map-holder .candidate-list li div h5 {
          font-size: 15px; }
        #main .left-part .candidate-map-holder .candidate-list li .digits {
          font-size: 14px;
          top: 13px; }
    #main .left-part .candidate-list-detail > li {
      -ms-flex-direction: column;
          flex-direction: column;
      border-top: 2px solid #244357;
      margin-bottom: 30px; }
      #main .left-part .candidate-list-detail > li .detail-title {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
            align-items: center;
        padding: 18px 0;
        position: relative; }
        #main .left-part .candidate-list-detail > li .detail-title img {
          width: 45px;
          height: 45px;
          margin-left: 10px;
          margin-right: 20px; }
        #main .left-part .candidate-list-detail > li .detail-title h5 {
          font-size: 16px;
          line-height: 16px; }
        #main .left-part .candidate-list-detail > li .detail-title span {
          font-size: 16px;
          line-height: 16px; }
      #main .left-part .candidate-list-detail > li ul {
        width: 100%; }
        #main .left-part .candidate-list-detail > li ul li {
          min-height: 49px;
          font-size: 12px;
          text-transform: uppercase; } }

@media (max-width: 768px) {
  .mobile-only {
    display: -ms-flexbox !important;
    display: flex !important; }
  .a-masthead #Amm2016Masthead {
    max-width: 714px; }
  .wrap-link .links-line {
    max-width: 714px;
    margin-bottom: 30px;
    position: relative; }
    .wrap-link .links-line .logo-text span {
      font-weight: 400; }
    .wrap-link .links-line ul li {
      margin-right: 18px;
      padding: 0 8px; }
      .wrap-link .links-line ul li a {
        font-size: 10px;
        line-height: 13px; }
    .wrap-link .links-line .socials {
      position: absolute;
      right: 0;
      bottom: -50px; }
      .wrap-link .links-line .socials a {
        color: #1a171b; }
  #main {
    max-width: 714px;
    padding: 0 15px;
    -ms-flex-direction: column;
        flex-direction: column; }
    #main .left-part {
      max-width: 712px;
      -ms-flex-negative: 1;
          flex-shrink: 1;
      margin: 0 auto; }
    #main aside {
      max-width: 714px; }
      #main aside .aside-banner {
        display: block;
        margin-bottom: 29px;
        padding: 25px 15px;
        background: #e5d5c5; }
        #main aside .aside-banner img {
          display: block;
          max-width: 300px;
          margin: 0 auto; }
      #main aside ul {
        border-top: 2px solid #244357;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -ms-flex-pack: justify;
            justify-content: space-between; }
        #main aside ul > div {
          width: 48%; }
        #main aside ul .title-li {
          min-height: 44px;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-align: center;
              align-items: center;
          -ms-flex-pack: justify;
              justify-content: space-between; }
          #main aside ul .title-li.mobile-only {
            display: block; }
        #main aside ul .view-more {
          width: 100%;
          text-align: right; }
      #main aside .without-borders {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -ms-flex-pack: justify;
            justify-content: space-between; }
        #main aside .without-borders:last-child {
          margin-bottom: 0;
          border-top: 0; }
        #main aside .without-borders.without-borders-last {
          border-top: 0;
          border-bottom: 2px solid #244357; }
        #main aside .without-borders > div {
          width: 30%; }
        #main aside .without-borders .title-li {
          border-bottom: 0;
          width: 100%; }
        #main aside .without-borders li.hidden {
          display: none; }
        #main aside .without-borders li p {
          text-transform: none;
          color: #356e89; }
        #main aside .without-borders li span {
          padding-right: 5px; }
          #main aside .without-borders li span:last-child {
            border-left: 0; }
      #main aside .side-block {
        padding-top: 15px;
        margin-bottom: 30px;
        position: relative; }
        #main aside .side-block .marketing-banner {
          display: block;
          margin-top: 25px; }
        #main aside .side-block .side-block-heading {
          margin-bottom: 12px; }
          #main aside .side-block .side-block-heading h5 {
            margin-bottom: 0;
            font-size: 12px;
            color: #244357;
            font-weight: 300; }
            #main aside .side-block .side-block-heading h5 a {
              color: inherit; }
          #main aside .side-block .side-block-heading h4 {
            font-size: 17px;
            margin-bottom: 5px;
            font-weight: 700; }
          #main aside .side-block .side-block-heading .account a {
            color: #356e89;
            font-size: 13px;
            line-height: 16px;
            display: block;
            margin-top: 5px; }
        #main aside .side-block .list {
          display: -ms-flexbox;
          display: flex;
          border: 0; }
          #main aside .side-block .list > li.i {
            width: 33%;
            border-bottom: none;
            border-right: 1px solid #d1c0af;
            padding: 0 10px; }
            #main aside .side-block .list > li.i:last-child {
              border-right: 0;
              padding-right: 0; }
            #main aside .side-block .list > li.i:first-child {
              padding-left: 0; }
            #main aside .side-block .list > li.i .tweet-body {
              margin-bottom: 13px; }
            #main aside .side-block .list > li.i .tweet-actions li {
              margin-right: 0px; }
          #main aside .side-block .list .meta {
            border: 0; }
            #main aside .side-block .list .meta > li {
              font-size: 15px;
              color: #1a171b;
              letter-spacing: 0;
              text-align: left;
              border: 0; } }
